@import "../variable/variable";
@import "../mixin/font";


.content {
  padding-top: 100px;

  .content-main {
    border-radius: 10px;

    h1 {
      @include font(32px, 700);
      margin-bottom: 40px;
      position: relative;
      padding: 15px 0;
      z-index: 1;
      padding-left: 24px;


      &::before {
        width: 360px;
        height: 100%;
        background-image: linear-gradient(to right, rgba(244, 70, 47, 0.4), #fff);
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 0;
        content: "";
        z-index: -1;
      }
    }

    .content-box {
      .image {
        float: left;
        margin-bottom: 24px;
        margin-right: 24px;

        img {
          border-radius: 10px;
        }
      }

      p+p {
        margin-top: 24px;
      }
    }

    p {
      text-align: justify;
    }
  }

  .mid-text {
    padding: 28px 80px 28px 100px;
    background-color: #f2f2f2;
    border-bottom: 3px solid $secondary;
    position: relative;
  }

  .mid-text h4 {
    font-size: 28px;
    font-weight: 600;
    color: #666666;
    line-height: 40px;
  }

  .mid-text i {
    color: $secondary;
    font-size: 30px;
    padding-right: 20px;
    position: absolute;
    top: 35px;
    left: 45px;
  }
}

.content-table {
  margin-top: 30px;
  .action {
    background-color: $secondary;
    border: 0;
    padding: 5px 10px;
    color: $white;
  }
}